# fichier volumineux database
database/.*
database/log/*
database/secrets/*

# fichier volumineux backend
backend/node_modules/*
# architecture projet
backend/.env

# fichier volumineux frontend
frontend/*